/*::::::::::::::::::::::::::::::::::::
STYLES
::::::::::::::::::::::::::::::::::::*/
@charset "utf-8";

/* RESET STYLES
----------------------------------------------------------------------------- */
html{overflow-y:scroll; overflow-x:hidden;}
*, *::before, *::after{box-sizing:border-box;}
a{outline:none; text-decoration:none;}
a:hover, a:active{outline:none; text-decoration:none;}

/* HTML 5 OVERRIDES
----------------------------------------------------------------------------- */
address, article, aside, figcaption, figure, footer, header, main, nav, section{
    display:block;
    margin:0;
    padding:0;
}

/* FONTS
----------------------------------------------------------------------------- */
body, input, textarea, select{
  font-family: 'ProximaNova-Light';
  font-style: normal;}
h1, h2, h3, h4, h5, h6, .heading, b {
  font-family: 'ProximaNova-Bold';
  font-weight: 300;
  font-style: normal;}

/* GENERAL STYLES
----------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .heading{text-transform: uppercase;}

h1{
  font-size: 3.5em;
  line-height: 0.9em;
}
h2{font-size: 3em;}
h3{font-size: 2em;}


address{font-style:normal; font-weight:normal;}

hr {
  max-width: 50px;
  border-width: 3px;
}

hr.light {border-color: #fff;}

.font-xs{font-size:.8em;}
.font-x1{font-size:1.2em;}
.font-x2{font-size:1.8em;}
.font-x3{font-size:4em;}

p {font-size: 1em;}

.txt1 {
  font-size: 1.30em;
}

/* SPACING, MARGIN AND PADDING
----------------------------------------------------------------------------- */
/* Margin bottom */
.mb-0{margin-bottom:0;}
.mb-1{margin-bottom:.25rem;}
.mb-2{margin-bottom:.5rem;}
.mb-3{margin-bottom:1rem;}
.mb-4{margin-bottom:1.5rem;}
.mb-5{margin-bottom:3rem;}

/* Margin bottom */
.my-0{margin:0;}
.my-1{margin:.25em 0;}
.my-2{margin:.5em 0;}
.my-3{margin:1em 0;}
.my-4{margin:1.5em 0;}
.my-5{margin:3em 0;}

/* Padding */
.p-0{padding:0;}
.p-1{padding:.25rem;}
.p-2{padding:.5rem;}
.p-3{padding:1rem;}
.p-4{padding:1.5rem;}
.p-5{padding:3rem;}

/* Top an bottom padding */
.py-0{padding:0;}
.py-1{padding:.25rem 0 .25rem 0;}
.py-2{padding:.5rem 0 .5rem 0;}
.py-3{padding:1rem 0 1rem 0;}
.py-4{padding:1.5rem 0 1.5rem 0;}
.py-5{padding:3rem 0 3rem 0;}
.py-6{padding:6rem 0 6rem 0;}  

.nospace {margin:0; padding:0; list-style:none;}

/* Pushright */
.pushright li{margin-right:20px;}
.pushright li:last-child{margin-right:0;}

/* DISPLAY PROPERTIES
----------------------------------------------------------------------------- */
/*Inline elements*/
.block{display:block;}

/*Elementos de línea */
.inline *{display:inline-block;}
.inline *:last-child{margin-right:0;}

.hidden{display:none;}

/* TEXT STYLES
----------------------------------------------------------------------------- */
.bold{font-weight:bold;}
.uppercase{text-transform:uppercase;}
.capitalize{text-transform:capitalize;}
.capitalise{text-transform:capitalize;}
.hidden{display:none;}

/* IMAGE STYLES
----------------------------------------------------------------------------- */
.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{
    width:auto;
    max-width:100%;
    height:auto;
    margin:0;
    padding:0;
    border:none;
    line-height:normal;
    vertical-align:middle;
}

.imgl{margin:0 15px 10px 0; clear:left;}
.imgr{margin:0 0 10px 15px; clear:right;}

img, object, embed, video {max-width: 100%;}
/* IE 6 no admite max-width (anchura máxima),por lo que usa de manera
predeterminada una anchura del 100% */
.ie6 img {width:100%;}

/* Container filter with background image */
.overlay{position:relative; z-index:1;}
.overlay::after{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    z-index:-1;
}

/* BACKGROUND STYLES
----------------------------------------------------------------------------- */
.bkgnd{
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
}

.attach{background-attachment: fixed;}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* COLOURS
----------------------------------------------------------------------------- */
body{color:; background-color:#000000;}

a{color:#337ab7;}
a:active, a:focus{color:#286090;}/* IE10 + 11 Bugfix - prevents grey background */

hr {border-color: #337ab7;}
hr.light {border-color: #fff;}

.text-primary {color:#337ab7;}
.text-secondary {color:;}
.text-tertiary {color:;}
.text-inverted {color: #fff;}

.bg-default {background-color:#ffffff; color:#333;}
.bg-primary {background-color: #000000; color:#fff;}
.bg-secondary {background-color:#e9e9e7; color:#000;}
.bg-tertiary {background-color:transparent; color:#ffffff;}
.bg-degraded{
    background: #19265C; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#19265C, #009BDB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#19265C, #009BDB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#19265C,#009BDB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#19265C,#009BDB); /* Standard syntax */
}

/* Image filter */
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light::after{background-color:rgba(255,255,255,.55);}

/* Others
----------------------------------------------------------------------------- */
.show-grid{margin-bottom:15px}
 .show-grid [class^=col-]{
  padding-top:10px;
  padding-bottom:10px;
  background-color:#eee;
  background-color:rgba(86,61,124,.15);
  border:1px solid #ddd;border:1px solid rgba(86,61,124,.2)
 }
 
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* =============================================================================
   TABLET DESIGN: Max width 900px
   ========================================================================== */
@media screen and (max-width:900px){ }

/* =============================================================================
   CELL DESIGN: Minimum width 750px
   ========================================================================== */
@media screen and (max-width:750px){
  .inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}
  .font-x2{font-size:;}
	.font-x3{font-size:;}

  .fl_left, .fl_right{display:block; float:none;}
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
}
